.el-icon-star-half,.el-icon-star-all,.el-icon-star-kong {
    width: 14px;
    height: 14px;
    background-size:contain;
    }
    .el-icon-star-half {
    background-image: url('../img/3333.jpg');
    }
    .el-icon-star-all {
    background-image: url('../img/2222.png');
    }
    .el-icon-star-kong {
    background-image: url('../img/1111.jpg');
    }